/***********************/
/*Basic Setup*/
/**********************/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Titillium Web', sans-serif;
    
    text-rendering: optimizeLegibility;
    font-size: 1.3rem;
}
ul li{
    list-style-type: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;

}
/************Heading Tags***************/
h1{
    font-size: 4.2rem;
    color: #fff;
}
/*this class is used for clear the foat property of the section*/
/* .clearfix::after{
    content: '';
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
} */

/***********************/
/*REUSABLE COMPONENTS*/
/**********************/
 .row{
     max-width: 114rem;
     margin: 0 auto;
 }
 section{
     padding: 8rem 0;
 }
 h2{
     font-size: 4rem;
     text-transform: uppercase;
     letter-spacing: .3rem;
     font-weight: 600;
     margin-top: 0;
     margin-bottom: 2rem;
     text-align: center;
 }
 h2::after{
     content:'';
     display: block;
     height: .4rem;
     background: #fff;
     margin: auto;
     width:8.5rem;
     margin-top: 2rem;
     text-align: center;
 }
 h3{
     font-size: 2.4rem;
     text-transform: uppercase;
     font-weight: 600;
 }
 .box{
     padding: 1%;
 }
 .box p{
     font-size: 1.6rem;
     font-weight: 300;
     margin-top: 2rem;
 }
/********BUTTON***************/
.btn:link,
.btn:visited,
.btn{
    background: #333;
    border-bottom: .3rem solid #000;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .3re,;
    display: inline-block;
    padding: 1.5rem 6rem;
    color: #fff;
    margin-top: 4.5re,;
    font-size: 1.6rem;
}
/* Little dezcription---paragraph */
.little-description{
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 2rem;
}


/***********************/
/*HEADER SECTION*/
/****************#87509c******/
header{
    background:linear-gradient(rgb(135,88,155,.9),rgb(135,88,155,.9)), url(image/hero-bg.jpg) ;
    height: 85vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.logo{
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

/*Main Navigation*/
.main-nav{
    margin-top: 4rem;
    float: right;
}
.main-nav li{
  
    display: inline-block;
    margin-left: 3rem;
}
.main-nav li:first-child{
    margin-left: 0rem;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(100,58,121,0);
    border-radius: 3px;
    padding: 1px 16px;
    display: inline-block;
    font-size: 1.6rem;
    transition: .4s;
  
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background: rgb(100,58,121,1);
  
}
.main-nav li.active a{
    background: rgb(100,58,121,1);
    
}
.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn-hero:link,
.btn-hero:visited{
    background-color: #eb7d4b;
    border-color: #c86a40;
}
/***********************/
/*SERVICES SECTION*/
/**********************/
.services-section{
   color: #fff;
   text-align: center;
   /* background: #17c2a4; */
   background:linear-gradient(rgb(23,194,164,.9),rgb(23,194,164,.9)), url(image/services-bg.jpg) ;
   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center top;
}
.services-section h2::after{
    background: #14a58c;
}
.services-icon{
    height: 12rem;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}


/***********************/
/*TEAM SECTION*/
/**********************/
.team-section{
    text-align: center;
    background: #e7f1f8;

    background:linear-gradient(rgb(231,241,248,.9),rgb(231,241,248,.9)), url(image/team-bg.jpg) ;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.team-section h2{
    color: #3c4761;
}
.team-section h2::after{
    background: #c8d9e5;
}
.team-member{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;

}
.team-section h3{
    color: #27283d;
}
.role{
    color: #30bae7;
    margin-top: .5rem;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.team-section .box p{
    color: #3c4761;
}
.social-link{
    margin-top: 4.5rem;
}
.social-link ul li{
    display: inline-block;
    margin: 0 .5rem;
}
.social-link ul li a{
    color: white;
    /* background: #bdd1df;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    display: block; */

}
.social-link ul li a:link i::before{
    background: #bdd1df;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    transition: .7s;
}
.social-link ul li a:hover i::before{
    background: #393939;
    transform: rotate(360deg);

}
/* .social-link ul li a i:hover{
    background: #393939;
    transform: rotate(360deg);

} */


/***********************/
/*TEAM SECTION*/
/**********************/
.skill-section{
    text-align: center;
    background:linear-gradient(rgb(255,255,255,.9),rgb(255,255,255,.9)), url(image/skill-bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.skill-section h2,
.skill-section h3{
    color: #3c4761;
}
.skill-section h2::after{
    background: #c8d9e5;
}
.skill-section .box{
    margin-top: 4.5rem;
}
svg.radial-progress circle {
    stroke-width: 5;;
}
svg.radial-progress text{
    fill: #393939;
    font-size: 1.5rem;
}
svg.web-design circle {
    stroke:#30bae7;
}
svg.html-css circle {
    stroke:#d74680;
}
svg.graphics-design circle {
    stroke:#15c7a8;
}
svg.ux-ui circle {
    stroke:#eb7d4b;
}

/***********************/
/*PORTFOLIO SECTION*/
/**********************/
.portfolio-section{
    text-align: center;
    background:linear-gradient(rgb(255,221,153,.9),rgb(255,221,153,.9)), url(image/portfolio-bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
 
}
.portfolio-section h2{
    color: #3c4761;;
}
.portfolio-section h2::after{
    background: #e5c37f;
}
.portfolio-filter{
    margin: 4.5rem 0;
} 
.portfolio-filter button{
    background-color: #ebc985;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    outline-style: none;
    color: #3c4761;
    text-transform: uppercase;
    margin: 0 .5rem;
    transform: .5s;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow: inset 0 .3rem rgba(60, 71, 97, .5);
}
.portfolio-image{
    height: 30rem;
    width: 100%;
}
.portfolio-section .col:nth-child(3){
    margin-left: 0;
}
/* mixitup-control-active--this class is a built in class for jquery mixitup plugin.Using this we change dynamically background color */
.portfolio-section .mixitup-control-active{
    background: #fff;
}

/***********************/
/*TESTIMONIAL SECTION*/
/**********************/
.testimonial-section{
   
    background:linear-gradient(rgb(215,70,128,.9),rgb(215,70,128,.9)), url(image/testimonial-bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
 
}
.testimonial-section h2::after{
    background: #b73c6d;
}
.testimonial-section .little-description{
    color: #fff;
    text-align: center;
}
.testimonial-section .col:nth-child(3){
    margin-left: 0;
}
.testimonial-section .col:nth-child(1),
.testimonial-section .col:nth-child(2){
    margin-top: 4rem;
}
.testimonial-section .col:nth-child(3),
.testimonial-section .col:nth-child(4){
    margin-top: 8rem;
}
.client-photo {
    width: 10rem;
    float: left;
}
.client-photo img{
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.client-review {
    width: 35rem;
    float: left;
    
}
.client-review p{
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
    
}
.client-review .role{
    color: #ffdd99;
}
.client-review h4{
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-bottom: .7rem;
    text-transform: uppercase;
     
}
 